<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="../static/style.css" rel="stylesheet" type="text/css">
    <title>Prediction</title>
    <link rel="icon" href="https://www.agh.edu.pl/uploads/tx_templavoila/znak_graficzny_agh_w_wielobarwna.jpg">
</head>
<body>
<div id="types">
    <ul>
        {% for link, config_info in prediction_types.items() %}
            <li><a href="{{ url_for('details',
                            to_predict=link,
                            prediction_method=config_info['default_prediction_method']['name'])
                    }}">{{ config_info['title'] }}</a></li>
        {% endfor %}
    </ul>
</div>
</body>
</html>